.form {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include on-tablet {
    gap: 48px;
  }

  &__message {
    resize: none;
  }

  &__button {
    all: unset;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 280px;
    height: 56px;
    margin-block: 16px 80px;
    border-radius: 8px;

    background-color: $highlight-footer-color;

    @include on-tablet {
      width: 264px;
      margin-block: 32px 120px;
    }

    &--text {
      font-family: $main-font-family;
      font-size: 15px;
      font-weight: 600;
      line-height: 22.5px;
      color: $header-menu-text-color;
      text-align: center;

      transition: $std-transition;
    }

    &:hover &--text {
      transform: scale(1.2);
    }
  }
}
