/* region menu */

.menu {
  height: 503px;
  background-color: $header-footer-bg-color;

  font-family: $main-font-family;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 2px;
  transition: $std-transition;

  &__top {
    margin-bottom: 28px;
    top: 0;
    position: sticky;
    z-index: 1;
  }
}

/* endregion */
